/* Base CSS */
@font-face {
    font-family: 'Asiyah Script';
    src: url('../fonts/AsiyahScript.eot');
    src: url('../fonts/AsiyahScript.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AsiyahScript.woff2') format('woff2'),
        url('../fonts/AsiyahScript.woff') format('woff'),
        url('../fonts/AsiyahScript.ttf') format('truetype'),
        url('../fonts/AsiyahScript.svg#AsiyahScript') format('svg');
    font-weight: normal;
    font-style: normal;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: normal;
    font-family: 'Asiyah Script';
}
body {

}
a:hover { text-decoration: none }


html,body{height: 100%}
.homepage-bg-1{background-image: url(../img/neature-bg-1.jpg);}
.homepage-bg-2{background-image: url(../img/neature-bg-2.jpg);}
.homepage-bg-3{background-image: url(../img/neature-bg-3.jpg);}

.homepage-slides-area, .homepage-slides-area div {
    height:  100%;
}

.single-slides-item {
    background-size:  cover;
    background-position:  center;
    background-color:  #ddd;
    display:  table;
    width: 100%;
}

.single-slides-tablecell {
    display:  table-cell;
    vertical-align:  middle;
    color:  #fff;
    text-align:  center;
    font-size:  16px;
}

.homepage-slides-area div.single-slides-tablecell, .homepage-slides-area div.single-slides-tablecell div {
    height: auto;
}

a.readmore-btn {
    display:  inline-block;
    color:  #fff;
    background: red;
    text-transform:  capitalize;
    font-size:  14px;
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 15px;
}

.homepage-text h1 {
    margin: 0;
    font-size:  150px;
}

.homepage-slides-area div.single-slides-tablecell, .homepage-slides-area div.single-slides-tablecell div, .homepage-slides-area div.owl-nav, .homepage-slides-area div.owl-nav div, .homepage-slides-area div.owl-dots, .homepage-slides-area div.owl-dots div {
    height:  auto;
}
.homepage-slides-area div.single-slides-tablecell, .homepage-slides-area div.single-slides-tablecell div, .homepage-slides-area div.owl-nav, .homepage-slides-area div.owl-nav div, .homepage-slides-area div.owl-dots, .homepage-slides-area div.owl-dots div {
    height:  auto;
}

.homepage-slides-area  .owl-nav .owl-prev, .homepage-slides-area  .owl-nav .owl-next {
    position:  absolute;
    top: 50%;
    left: 50px;
    margin-top: -10px;
    opacity:  .5;
    transition:  .3s;
}

.homepage-slides-area .owl-nav .owl-prev i.fa, .homepage-slides-area .owl-nav .owl-next i.fa {
    color: #fff;
    font-size:  30px;
}

.homepage-slides-area .owl-nav .owl-next {
    left:  auto;
    right: 50px;
}

.homepage-slides-area .owl-nav .owl-prev:hover, .homepage-slides-area .owl-nav .owl-next:hover {
    opacity:  1;
}

.homepage-slides-area div.single-slides-tablecell, .homepage-slides-area div.single-slides-tablecell div, .homepage-slides-area div.owl-nav, .homepage-slides-area div.owl-nav div, .homepage-slides-area div.owl-dots, .homepage-slides-area div.owl-dots div {
    height:  auto;
}

.homepage-slides-area  .owl-nav .owl-prev, .homepage-slides-area  .owl-nav .owl-next {
    position:  absolute;
    top: 50%;
    left: 50px;
    line-height: 40px;
    margin-top: -20px;
    opacity:  .5;
    transition:  .3s;
}

.homepage-slides-area .owl-nav .owl-prev i.fa, .homepage-slides-area .owl-nav .owl-next i.fa {
    color: #fff;
    font-size:  30px;
}

.homepage-slides-area .owl-nav .owl-next {
    left:  auto;
    right: 50px;
}

.homepage-slides-area .owl-nav .owl-prev:hover, .homepage-slides-area .owl-nav .owl-next:hover {
    opacity:  1;
}

.homepage-slides-area .owl-dots {
    position:  absolute;
    bottom:  5px;
    right: 20%;
}
.homepage-slides-area .owl-dots .owl-dot {
    background-size: cover;
    background-position: center;
    outline: none;
    margin:0 5px;
    display: inline-block;
    transition: .3s;
}
.homepage-slides-area .owl-dots .owl-dot:hover {
    transform: scale(1.1, 1.1);
}
.homepage-slides-area .owl-dots .owl-dot img{
    width:80px;
    height: 80px;
}
